* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
  color: black;
  font-size: 15px;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #262626;
}

a:hover {
  transition: 0.1s ease;
  color: #aefc3f;
  cursor: pointer;
}

ul {
  list-style: none;
}
button {
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  background: #aefc3f;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.2);
}

button a:hover {
  color: #262626;
}

h1,
h2,
h3,
h4 {
  font-family: 'Lato';
}

.menu-btn {
  cursor: pointer;
  position: fixed;
  top: 20px;
  right: 30px;
  z-index: 2;
  display: none;
}

.menu-btn:hover {
  opacity: 0.9;
  color: #262626;
}

/* Nav */
.main-nav {
  position: fixed;
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fcfcb2;
  padding: 30px 50px;
  z-index: 1;
}

h1 {
  font-size: 18px;
  color: #262626;
}
.fa-chart-simple {
  padding: 3px 5px;
  background-color: #aefc3f;
  font-size: 20px;
  color: #fff;
  margin-left: 30px;
}

.main-menu {
  display: flex;
  gap: 25px;
}

/* Hero Section */
.home {
  width: 100%;
  background-color: #fcfcb2;
}

.hero {
  width: 90%;
  max-width: 1300px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  padding: 40px;
}

.hero-left {
  padding: 50px;
}

.hero-left h2 {
  font-size: 30px;
}

.hero-left p {
  padding-top: 20px;
}

.hero-btn {
  padding-top: 20px;
}

.hero-right {
  padding: 50px;
}

img-holder {
  padding: 50px;
}

img-holder img {
  width: 450px;
  border: 5px #aefc3f solid;
  border-radius: 20px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.2);
}

/* About Us section */
.about {
  width: 100%;
  padding: 50px;
  background-color: #fff;
}

.about-us {
  text-align: center;
}

.about-us h4 {
  font-size: 18px;
  color: #262626;
}

.about-container {
  width: 100%;
  max-width: 1300px;
  display: flex;
}

.about-right {
  width: 100%;
}
.about-right h4 {
  font-size: 17px;
  padding-bottom: 10px;
  color: #262626;
}
.about-right p {
  font-size: 15px;
}

/* Stats */
.stats {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  padding: 30px 0;
}

.box {
  width: 45%;
  height: auto;
  text-align: center;
  padding: 20px;
  margin-left: 10px;
  background-color: #ebf0ee;
  border: none;
  border-radius: 10px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.2);
}

.box p {
  font-weight: 300;
}

.fa-check-double {
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 50%;
  background-color: #fff;
}

.fa-users {
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 50%;
  background-color: #fff;
}

.fa-user-plus {
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 50%;
  background-color: #fff;
}

.fa-industry {
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 50%;
  background-color: #fff;
}

.box h4 {
  font-weight: bold;
  padding: 10px 0;
}

/* Our services section */
.services {
  width: 100%;
  background: #fcf5f2;
  padding: 50px;
}

.services h3 {
  text-align: center;
}

.our-services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  grid-gap: 30px;
}

.box2 {
  height: 250px;
  width: 300px;
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.2);
}

.box2 h4 {
  font-size: 18px;
}

.box2 p {
  font-size: 13px;
  padding: 10px 25px;
}

.fa-calendar-check {
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 10px 10px;
  border-radius: 50%;
  font-size: 20px;
  color: white;
  background: #004225;
}

.fa-magnifying-glass-chart {
  width: 40px;
  height: 40px;
  padding: 10px 0;
  border-radius: 50%;
  font-size: 20px;
  color: #ebf0ee;
  background: #31548c;
}

.fa-file-pen {
  width: 40px;
  height: 40px;
  padding: 10px 0;
  border-radius: 50%;
  font-size: 20px;
  color: #ebf0ee;
  background: #4c63fc;
}

.fa-users-line {
  width: 40px;
  height: 40px;
  padding: 10px 0;
  border-radius: 50%;
  font-size: 20px;
  color: #ebf0ee;
  background: #fc8544;
}

.box2 .fa-envelope {
  width: 40px;
  height: 40px;
  padding: 10px 0;
  border-radius: 50%;
  font-size: 20px;
  color: #ebf0ee;
  background: #31548c;
}

.fa-bullseye {
  width: 40px;
  height: 40px;
  padding: 10px 0;
  border-radius: 50%;
  font-size: 20px;
  color: #ebf0ee;
  background: #fc8544;
}

/* Core Values */
.core-values {
  width: 100%;
  background: white;
  padding: 50px;
}

.core-values h3 {
  text-align: center;
}

.core-val {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  align-items: center;
}

.box3 {
  width: 350px;
  height: auto;
  text-align: center;
  padding: 20px;
  background-color: #ebf0ee;
  border: none;
  margin-bottom: 0 20px 0 30px;
  border-radius: 10px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.2);
}

.box3 h4 {
  font-size: 20px;
  padding-top: 10px;
}

.box3 p {
  padding-top: 10px;
}

.fa-layer-group {
  width: 40px;
  height: 40px;
  padding: 10px 10px;
  border-radius: 50%;
  font-size: 20px;
  color: #ebf0ee;
  background: #004225;
}

.fa-right-to-bracket {
  width: 40px;
  height: 40px;
  padding: 10px 10px;
  border-radius: 50%;
  color: #fff;
  background: #004225;
}

.box3 .fa-user-plus {
  width: 40px;
  height: 40px;
  padding: 10px 10px;
  color: #fff;
  border-radius: 50%;
  background-color: #004225;
}

.fa-people-arrows {
  width: 40px;
  height: 40px;
  padding: 10px 10px;
  border-radius: 50%;
  color: #fff;
  background: #004225;
}

.fa-file-circle-check {
  width: 40px;
  height: 40px;
  padding: 10px 10px;
  border-radius: 50%;
  color: #fff;
  background: #004225;
}

/* Testimonials section */

.testimonial {
  width: 100%;
  background: #fcf5f2;
  padding: 50px;
}

.testimonial h3 {
  text-align: center;
}

.testimonies {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}

.box4 {
  width: 30%;
  height: auto;
  text-align: center;
  padding: 30px;
  background-color: #ebf0ee;
  border: none;
  border-radius: 10px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.2);
  margin-top: 30px;
}

.box4 h4 {
  font-size: 18px;
  padding-top: 30px;
}

.fa-star {
  font-size: 13px;
  color: #fd9e45;
}

.testimonials-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.testimonials-loading-dot {
  margin-top: 50px;
  width: 12px;
  height: 12px;
  border: none;
  border-radius: 50px;
  background-color: #a3a19b;
  animation: 1.3s bounce infinite ease-in-out;
}

/* Contact US */
.contact {
  width: 100%;
  padding: 50px;
}

.contact-us {
  text-align: center;
  padding: 30px;
}

.contact-content {
  width: 50%;
  padding: 20px 30px;
}

.contact-content h4 {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.contact-content p {
  padding: 10px;
}

.contact-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.contact-left {
  width: 50%;
}

.fa-mobile-screen {
  padding: 10px 5px;
  font-size: 14px;
  color: #004225;
}

.contact-left .fa-envelope {
  font-size: 13px;
  padding: 10px 5px;
  color: #004225;
}

.fa-location-dot {
  padding: 10px 5px;
  font-size: 16px;
  color: #004225;
}
.contact-left h5 {
  font-size: 15px;
  padding-top: 10px;
}

.contact-left p {
  font-size: 15px;
}

/* Form */
.form-container {
  align-items: center;
  justify-content: center;
}

label {
  display: block;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  padding: 0px 10px;
  margin-top: 15px;
}

input {
  width: 60%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #1b1a1a;
  border-radius: 5px;
  transform: border-color 0.3s;
}

textarea {
  width: 60%;
  height: 100px;
  padding: 30px;
  border-radius: 5px;
  margin-top: 30px;
}

.submit {
  width: 60%;
  padding: 10px 15px;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  margin: 10px 0;
  box-shadow: none;
}

footer {
  background: #fff;
}

.footer-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 50px;
  background: #ddeff0;
}

.logo-text h2 {
  font-size: 18px;
}

.logo-text p {
  font-size: 15px;
  padding-top: 20px;
}

.quick-links h2 {
  font-size: 16px;
  font-weight: 700;
}

.quick-links ul {
  padding: 10px;
}
.quick-links ul li {
  padding-top: 7px;
}

.social-links h2 {
  font-size: 16px;
  font-weight: 700;
}

.social-links ul {
  padding: 10px 0 0;
}
.social-links ul li {
  padding: 7px;
}

.newsletter h2 {
  font-size: 16px;
}

.newsletter label {
  display: flex;
}

.newsletter .btn {
  width: 40%;
  padding: 8px 10px;
  display: block;
  border-radius: 5px;
  border: 1px solid #aefc3f;
  background: #aefc3f;
}
.newsletter .btn a:hover {
  color: #262626;
}
.copyright {
  text-align: center;
  padding: 30px 0;
}

footer p a {
  text-decoration: underline;
  color: #000;
}

footer p a:hover {
  color: #000;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-20px);
  }
}

@media (max-width: 768px) {
  .menu-btn {
    display: block;
  }

  .menu-btn:hover {
    opacity: 0.5;
  }

  .main-nav {
    padding: 30px 20px;
  }

  .main-menu li a:hover {
    transition: 0.1s ease;
    color: #6a6b68;
    cursor: pointer;
  }

  .main-nav ul.main-menu {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #fcf7f7;
    width: 50vw;
    height: 100vh;
    border-right: #ccc 1px solid;
    opacity: 0.9;
    padding: 30px;
    transform: translateX(-500px);
    transition: transform 0.5s ease-in-out;
  }

  .main-nav ul.main-menu li {
    padding: 10px;
    border-bottom: 1px #ccc solid;
    font-size: 14px;
    color: #000;
  }

  .main-nav ul.main-menu.show {
    transform: translateX(-20px);
  }

  .main-nav ul.main-menu li.last-child {
    border-bottom: 0;
  }

  .right-menu {
    display: block;
    margin-right: 30px;
  }

  .right-menu button {
    margin-right: 50px;
  }

  .hero {
    grid-template-columns: 1fr;
    max-width: 1100px;
    grid-gap: 10px;
  }

  .hero-left {
    padding: 0;
  }

  .hero-left h2 {
    width: 100%;
    padding-top: 45px;
  }

  .hero-left p {
    width: 100%;
    padding: 20px 0;
  }

  .hero-right {
    padding: 20px 0 0 0;
  }

  img-holder {
    padding: 0;
  }

  img-holder img {
    width: 600px;
  }
  .about {
    padding: 50px 0;
  }

  .about-us {
    margin: 20px 0;
  }

  .about-container {
    width: 80%;
    flex-direction: column;
  }
  .about-container img-holder {
    padding-left: 60px;
  }
  .about-right {
    width: 100%;
    margin: 30px 50px 0;
  }

  .about-right h4,
  p {
    padding-left: 30px;
  }

  .stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
  }

  .box {
    width: 100%;
    height: 200px;
    margin-top: 20px;
  }

  .our-services {
    grid-template-columns: repeat(2, 1fr);
  }

  .box2 {
    width: 300px;
    margin-top: 20px;
  }

  .core-val {
    grid-template-columns: repeat(2, 1fr);
  }

  .box3 {
    width: 300px;

    margin-top: 20px;
  }

  .testimonies {
    flex-direction: column;
  }

  .box4 {
    width: 80%;
    margin: 20px;
  }

  .contact {
    width: 100%;
  }

  .contact-content {
    width: 80%;
    padding: 20px 0;
    /* text-align: center; */
  }

  /* .contact-content p {
    width: 70%;
    padding-left: 30px;
  } */

  .contact-left {
    padding: 0;
  }
  .contact-container {
    flex-direction: column-reverse;
    padding: 20px 0;
  }

  .form-container {
    width: 80%;
  }

  label,
  input,
  textarea {
    width: 100%;
  }

  .footer-container {
    grid-template-columns: 1fr;
  }

  .logo .fa-chart-simple {
    margin-left: 0;
  }

  .footer-container .logo-text p {
    padding: 10px;
  }

  /* Max-width: 500px */
}

@media (max-width: 500px) {
  .hero {
    grid-template-columns: 1fr;
    max-width: 500px;
    grid-gap: 10px;
  }
  .hero-left {
    width: 350px;
  }

  img-holder img {
    width: 400px;
  }

  .about-container img-holder {
    padding-left: 35px;
  }

  .our-services {
    grid-template-columns: 1fr;
  }

  .box2 {
    width: 350px;
  }

  .core-val {
    grid-template-columns: 1fr;
  }

  .box3 {
    width: 350px;
  }
  .box4 {
    width: 350px;
    margin: 5px;
  }

  .contact-left {
    padding: 0 10px;
  }

  .contact-left p {
    width: 250px;
  }
  .form-container {
    margin: auto 0;
  }
}
